* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
  }

  h2{
    text-align: center;
  }
  h5{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h4{
    text-align: center;
    margin-top: 30px;
  }

  h6{
    text-align: end;
  }

  body{
    background-color:#d9d9d9;
  }

  .custom-link {
    color: black;
    transition: color 0.3s;
  }

  .custom-link:hover {
    color: #E1C09D;
  }
  

  .bg-custom {
    background-color:#CACFD2 ;
  }
  
.img-encabezado {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

 .btn{
  background-color: #E1C09D;
  color: black;
  border-radius: 5px;
 }

 .carousel-inner{
  margin-top: 20px;
 }

 .img-presente{
  width: 350px;
  height: 650px;
 }

 .img-w{
  width: 200px;
  height: 200px;
 }

.card{
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background-color: #CACFD2;
  
}

 footer{
  margin-top: 20px;
  background-color: #E1C09D;
 }